{% extends "base.html" %}
{% block content %}
<script src="//unpkg.com/alpinejs" defer></script>

<!-- Safely embed image JSON -->
<script type="application/json" id="topImagesData">
{{ top_images | tojson }}
</script>

<div class="h-screen w-full overflow-hidden relative" x-data="{
         images: [],
         currentIndex: 0,
         get currentImage() {
             return this.images[this.currentIndex]?.url || '';
         },
         cycleImages() {
             setInterval(() => {
                 this.currentIndex = (this.currentIndex + 1) % this.images.length;
             }, 5000);
         }
     }" x-init="
         images = JSON.parse(document.getElementById('topImagesData').textContent);
         cycleImages();
     ">

    <!-- Slideshow Progress Dots -->
    <div class="absolute top-20 left-1/2 transform -translate-x-1/2 z-20 flex gap-2">
        <template x-for="(image, index) in images" :key="index">
            <div class="w-4 h-4 rounded-full border border-white"
                :class="{ 'bg-white': index === currentIndex, 'bg-white/30': index !== currentIndex }"></div>
        </template>
    </div>

    <!-- Slideshow Background -->
    <div class="absolute inset-0 z-0 transition-all duration-1000 bg-cover bg-center"
        :style="`background-image: url('${currentImage}')`"></div>

    <!-- Dark Overlay -->
    <div class="absolute inset-0 bg-gradient-to-b from-black/60 via-black/20 to-black/80 z-10"></div>

    <!-- Intro -->
    <div
        class="absolute bottom-24 left-1/2 transform -translate-x-1/2 z-20 px-4 max-w-lg w-[90%] shadow-lg text-white text-center">

        <p class="leading-relaxed text-gray-200 font-lato-hairline">
            Ever caught yourself lost in the beauty of a starry night?
            <a href="{{ url_for('blog.home') }}"
                class="font-scribble text-3xl text-white hover:text-amber-400  transition-colors duration-200">
                {{ WebName }}
            </a>
            is all about peeking into the vastness of space through the lenses of an amateur astronomer.
            Feel free to
            <a href="{{ url_for('blog.collection') }}"
                class="text-white hover:text-blue-200 font-lato-hairline transition-colors duration-200">
                explore
            </a>
            these high-resolution images and dive deeper into the techniques and equipment I use to capture the wonders
            of the
            cosmos.
        </p>
    </div>


    <!-- Signature -->
    <div
        class="absolute bottom-6 left-1/2 transform -translate-x-1/2 z-20 px-4 max-w-lg w-[90%] shadow-lg text-white text-center">
        <p class=" text-5xl leading-relaxed text-gray-200 font-scribble"> Sharons AstroSpace</p>
    </div>
</div>

{% endblock %}